<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.ajax_105.dao.SearchDAO">
	<select id="searchList" parameterType="String" resultType="com.spring.ajax_105.dto.SearchDTO">
		SELECT * FROM mvc_keyword_tbl
		 WHERE keyword 
		  LIKE '%' || #{keyword} || '%'
	</select>
</mapper>